*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculator{
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 15px;
}
.calculator form input{
    background-color: blue;
    color: white;
    font-size: larger;
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
}