*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    background-color: rgb(25, 27, 20);
}

.head ul li a{
    color: white;
}

.head ul li a:hover{
    color: red;
}

.btw{
    margin-left: 50%;
    margin-right: 5%;
}

.ctn{
    margin-top: 11%;
    font-size: 25px;
}

.ctn a{
    color: black;
    font-size: larger;
    padding: 8px;
}
.ctn a:hover{
    color: blue;
}

